@model OgloszeniaDrobne.Models.Attribute

@{
    ViewBag.Title = "UsunAtr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie Atrybutu</h2>
<br/><br/>
<h3>Jesteś pewien?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Kategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a href="/Admin/EdytujAtrybut">Powrót</a>
        </div>
    }
</div>
